<%- include("partials/header.ejs") %>

<div class="options-to-do-with-blog">
    <h2 class="blog-type"> <%= blog.type %> </h2>
    <form action="/actions" method="post">
        <input type="hidden" name="blogType" value="<%= blog.type %>">
        <input type="hidden" name="blogId" value="<%= blog._id %>">
        <input type="hidden" name="blogTitle" value="<%= blog.title %>">
        <input type="hidden" name="blogContent" value="<%= blog.content %>">
        <div class="option-buttons">
            <button type="submit" class="btn btn-outline-primary" name="action" value="edit"> Edit </button>
            <button type="submit" class="btn btn-outline-danger" name="action" value="delete"> Delete </button>
        </div>
    </form>
</div>

<div class="container blog-container-flexbox">
    
        <div class="container blog-container-flexbox-items" id="<%= blog._id %>">
            <h3><%= blog.title %></h3>
            <p><%= blog.content %></p>
        </div>
    
</div>

<%- include("partials/footer.ejs") %>